<!--<nav>-->
  <!--<a routerLink="/videodemo" routerLinkActive="active">videodemo</a>-->
  <!--&nbsp;-->

  <!--<a routerLink="/animation" routerLinkActive="active">animation</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->

<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item *ngFor="let item of menus" (click)="selectMenu(item.id)">{{item.name}}</li>
      <!--<li nz-menu-item>nav 2</li>-->
      <!--<li nz-menu-item>nav 3</li>-->
      <li nz-menu-item style="float: right;" ><a [routerLink]="[{ outlets: { music: 'music' } }]" routerLinkActive="active">Music</a></li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff"  nzCollapsible [(nzCollapsed)]="isCollapsed">
      <ul nz-menu  nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" style="height:100%">
        <ng-container *ngFor="let sideObject of sideLists">
          <ng-container *ngIf="sideObject.children">
           <li nz-submenu >
           <span title><i nz-icon type="user"></i>{{sideObject.label}}</span>
           <ul>
            <!--<li nz-menu-item><a routerLink="/animation" routerLinkActive="active">animation</a></li>-->
            <!--<li nz-menu-item><a routerLink="/videodemo" routerLinkActive="active">videodemo</a></li>-->
            <!--<li nz-menu-item>option3</li>-->
            <!--<li nz-menu-item>option4</li>-->

            <li nz-menu-item *ngFor="let childObject of sideObject.children"><a routerLink="{{childObject.link}}" routerLinkActive="active">{{childObject.label}}</a></li>

          </ul>
        </li>
          </ng-container>
          <ng-container  *ngIf="!sideObject.children">
        <li nz-menu-item><a routerLink="{{sideObject.link}}" routerLinkActive="active"><span><i nz-icon type="file"></i><span class="nav-text">{{sideObject.label}}</span></span></a></li>
          </ng-container>
        </ng-container>

        <!--<li nz-submenu>-->
          <!--<span title><i nz-icon type="laptop"></i>subnav 2</span>-->
          <!--<ul>-->
            <!--<li nz-menu-item>option5</li>-->
            <!--<li nz-menu-item>option6</li>-->
            <!--<li nz-menu-item>option7</li>-->
            <!--<li nz-menu-item>option8</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li nz-submenu>-->
          <!--<span title><i nz-icon type="notification"></i>subnav 3</span>-->
          <!--<ul>-->
            <!--<li nz-menu-item>option9</li>-->
            <!--<li nz-menu-item>option10</li>-->
            <!--<li nz-menu-item>option11</li>-->
            <!--<li nz-menu-item>option12</li>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb [nzAutoGenerate]="true" style="margin:16px 0;">
        <!--<nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
        <!--<nz-breadcrumb-item>List</nz-breadcrumb-item>-->
        <!--<nz-breadcrumb-item>App</nz-breadcrumb-item>-->
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 500px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

<!--第二路由-->
<router-outlet name="music"></router-outlet>
